<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }
    </style>
  </head>
  
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="adicionar">Adicionar</a>
      <a href="procurar">Procurar</a>
    </div>

    <h1>Adicionar Título</h1>
    <form method="POST" action="/adicionar">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo"><br>
        <label for="autor">Autor:</label>
        <input type="text" name="autor"><br>
        <label for="editora">Editora:</label>
        <input type="text" name="editora"><br>
        <label for="valor">Valor:</label>
        <input type="number" name="valor"><br>
        <input type="submit" value="Inserir">
    </form>
  </body>
</html>
